.bubble-bg-blue-500 {
    background-color: rgb(59 130 246);
}

.bubble-bg-green-500 {
    background-color: rgb(34 197 94);
}

.bubble-bg-yellow-300 {
    background-color: rgb(253 224 71);
}

.bubble-bg-red-500 {
    background-color: rgb(239 68 68);
}

.team-bubble {
    --_transition: 300ms cubic-bezier(0.36, 0.02, 0.09, 1.49);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 4px;
    position: relative;
    /* overflow: ; */
    border-radius: 50%;
    width: 110px;
    height: 110px;
    margin: 10px;
    scale: 1;
    overflow: hidden;
    transition: scale var(--_transition);
}

.team-bubble-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.team-bubble-img-container {
    position: relative;
    left: 50%;
    translate: -50%;

    width: 100%;
    height: 100%;
    z-index: 2;
    transition: width var(--_transition),
    height var(--_transition);
}

.team-bubble-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 0;
    margin-top: 4px;
    transition: margin-top var(--_transition);
}

.team-bubble-name {
    /* font-weight: 00; */
    font-size: 9px;
    margin-top: 5px;
    height: 12px;
    line-height: 6.5px;
    transition: margin-top var(--_transition);
}

.team-bubble-role {
    font-size: 6px;
}

.team-bubble-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
    width: 100%;
}

.team-bubble-button {
    width: 18px;
    height: 18px;
    margin-top: 4px;
}

.team-bubble-button-container>a:nth-child(2) {
    margin-top: 3px;
}

.team-bubble:hover {
    scale: 1.75;
    z-index: 3;
}

.team-bubble:hover .team-bubble-img-container {
    width: 50px;
    height: 50px;
}

.team-bubble:hover .team-bubble-name {
    margin-top: -1px;
}
.team-bubble:hover .team-bubble-back {
    margin-top: 0;
}